body {
  margin: 0;
  padding: 0;
  background-image: url("images/circuit.png");
  font-family: "Fira Code", sans-serif;
}

.menu {
  background-color: #fff;
  height: 100vh;
  width: 10%;
  margin: 0;
  list-style: none;
}
li {
  padding-top: 15px;
}
li > a {
  text-decoration: none;
  font-size: 28px;
  color: #6633ff;
}
/*TODO: сделать возвращение анимации текста*/
li > a:hover::after {
  content: "";
  width: 55%;
  height: 1px;
  background-color: #6633ff;
  display: block;
  position: relative;
  animation: line-left 0.7s cubic-bezier(0.46, -0.02, 0.16, 0.9) 1 forwards
    alternate;
}
li > a:hover::before {
  content: "";
  width: 55%;
  height: 1px;
  background-color: #6633ff;
  display: block;
  position: relative;
  animation: line-right 0.7s cubic-bezier(0.46, -0.02, 0.16, 0.9) 1 forwards
    alternate;
}

@keyframes line-left {
  from {
    left: 0;
  }
  to {
    left: 15px;
  }
}
@keyframes line-right {
  from {
    right: 0;
  }
  to {
    right: 15px;
  }
}
.modal {
  position: absolute;
  background-color: #fff;
  padding: 50px;
  border-radius: 15px;
  transform: translateX(66%) translateY(30vh);
  font-size: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 2px #ccc;
  border: 1px solid transparent;
  transition: 0.5s;
}

.modal::after {
  content: "!";
  color: red;
  font-size: 40px;
  position: absolute;
  top: 5px;
  right: 20px;
  transition: 0.5s;
}

.modal:hover::after {
  transform: scale(1.5);
}

.modal:hover {
  border: 1px solid red;
}
